@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 기본 테마: 라이트 모드 */
  :root {
    /* Accent (Violet 계열) */
    --violet-1: 240 100% 99%;
    --violet-2: 240 100% 98%;
    --violet-3: 240 100% 94%;
    --violet-4: 240 100% 91%;
    --violet-5: 240 100% 87%;
    --violet-6: 240 100% 82%;
    --violet-7: 240 100% 80%;
    --violet-8: 240 100% 72%;
    --violet-9: 260 84% 53%;
    --violet-10: 260 100% 43%;
    --violet-11: 264 65% 58%;
    --violet-12: 264 70% 27%;

    --violet-contrast: 0 0% 100%;
    --violet-surface: 240 100% 97%;
    --violet-indicator: 260 84% 53%;
    --violet-track: 260 84% 53%;

    /* Gray Scale */
    --gray-1: 240 100% 99%;
    --gray-2: 240 100% 98%;
    --gray-3: 240 5% 96%;
    --gray-4: 240 8% 94%;
    --gray-5: 240 7% 92%;
    --gray-6: 240 10% 89%;
    --gray-7: 240 10% 84%;
    --gray-8: 240 10% 78%;
    --gray-9: 240 5% 60%;
    --gray-10: 240 5% 53%;
    --gray-11: 240 8% 43%;
    --gray-12: 240 10% 14%;

    --gray-contrast: 0 0% 100%;
    --gray-surface: 0 0% 100%;
    --gray-indicator: 240 5% 60%;
    --gray-track: 240 5% 60%;

    /* 기본 테마 색상 (Primary, Secondary 등) */
    --background: 0 0% 100%;
    --foreground: var(--gray-12);
    --card: 0 0% 100%;
    --card-foreground: var(--gray-12);
    --popover: 0 0% 100%;
    --popover-foreground: var(--gray-12);
    --primary: var(--violet-9);
    --primary-foreground: 0 0% 100%;
    --secondary: var(--gray-8);
    --secondary-foreground: var(--gray-12);
    --muted: var(--gray-4);
    --muted-foreground: var(--gray-9);
    --accent: var(--gray-3);
    --accent-foreground: var(--gray-12);
    --destructive: 0 100% 67%;
    --destructive-foreground: 0 0% 100%;
    --border: var(--gray-7);
    --input: var(--gray-6);
    --ring: var(--violet-8);
    --chart-1: var(--violet-4);
    --chart-2: var(--violet-5);
    --chart-3: var(--gray-3);
    --chart-4: var(--gray-4);
    --chart-5: var(--gray-5);
    --radius: 0.5rem;

    --base-card-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05),
      0 1px 3px 0 rgba(0, 0, 0, 0.1);
    --base-card-hover-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
      0 2px 4px rgba(0, 0, 0, 0.15);
  }

  /* 다크 모드 */
  .dark {
    --background: var(--gray-12);
    --foreground: 0 0% 100%;
    --card: 240 10% 17%;
    --card-foreground: 0 0% 100%;
    --popover: 240 10% 17%;
    --popover-foreground: 0 0% 100%;
    --primary: var(--violet-10);
    --primary-foreground: 0 0% 100%;
    --secondary: var(--gray-9);
    --secondary-foreground: var(--gray-2);
    --muted: var(--gray-8);
    --muted-foreground: var(--gray-5);
    --accent: var(--violet-5);
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 72%;
    --destructive-foreground: 0 0% 100%;
    --border: var(--gray-8);
    --input: var(--gray-7);
    --ring: var(--violet-11);
    --chart-1: var(--violet-6);
    --chart-2: var(--violet-7);
    --chart-3: var(--gray-7);
    --chart-4: var(--gray-8);
    --chart-5: var(--gray-9);
  }
}

body {
  font-family: var(--font-pretendard);
}
